<ul class="nav">
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Blog</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About Me</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'post_list' %}">Posts</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'post_new' %}">Create Post</a>
</li>
</ul>