<ul class="nav">
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Blog</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About Me</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'post_list' %}">Posts</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'post_new' %}">Create Post</a>
</li>
    {% if user.is_authenticated %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'password_change' %}">Change Password</a>
</li>
<li class="nav-item">
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="nav-link">Log Out</button>
    </form>
</li>
<li class="nav-item">
    <span class="badge text-bg-info">{{ user.username }}</span>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Login</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
</li>
    {% endif %}
</ul>
